<h1>イベント一覧</h1>

<table>
  <thead>
      <td>イベント名</td>
  </thead>

  <tbody>
    <% @group_events.each do |group_event|%>
    <tr>
      <td><%= group_event.event_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>